/* ================================= 
  CSS Reset
==================================== */

* {
  margin: 0;
  padding: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

h1 {
  color: black;
  background-color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1150px;
}

/* ================================= 
Rating and Reviews Styling
==================================== */

.review-main-container {
  margin-top: 5rem;
  margin-bottom: 30rem;
}

.ratings-container {
  float: left;
  width: 23%;
  font-size: small;
}

.reviews-container {
  float: right;
  width: 70%;
}

.rating-bar {
  margin-bottom: 1.5rem;
}

#large-rating {
  font-size: 3rem;
  font-weight: 700;
  float: left;
  width: 30%;
}
#main-stars {
  padding-top: 1rem;
  width: 60%;
  color: black;
}

#recommendation {
  display: inline-block;
  width: 100%;
}
#bars {
  float: right;
  width: 80%;
}

#bar-labels {
  float: left;
  width: 20%;
  text-decoration: underline;
}

.bar-label {
  margin-right: 0.5rem;
  margin-bottom: 1.2rem;
}

/* Product Breakdown Sliders */
.slidecontainer {
  width: 100%; /* Width of the outside container */
  height: 1%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid rgb(0, 0, 0);
}

/* Product Breakdown Labels */
#breakdown-label-title {
  margin-bottom: -5px;
  font-size: medium;
  margin-top: 2rem;
}
#breakdown-label-min {
  float: left;
  font-size: x-small;
}
#breakdown-label-max {
  float: right;
  font-size: x-small;
}

/* ================================= 
Carousel Styling
==================================== */

.related-carousel {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.relatedImg {
  height: 300px;
}

.card {
  margin: 20px;
  border: black;
  border-width: 1px;
  border-style: solid;
}

.cardText {
  padding-left: 10px;
}

.carouselArrow {
  border: solid grey;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  background: transparent;
  position: absolute;
  top: 3550px;
}

.carouselRight {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: 1273px;
}

.carouselLeft {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

